#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    height: 100%;
}

#hero > #introduction {
    display: flex;
    justify-content: center;
}

#hero > #introduction > #head {
    font-family: 'Bungee Inline';
    letter-spacing: 2px;
    padding: 20px;
    font-size: 50px;
    color: #6ED6F6;
}

#hero > #introduction > #logo {
    height: 100px;
}

#hero > #selection {
    display: flex;
    justify-content: space-around;
}

#hero > div > div {
    width: 250px;
    height: 250px;
    padding: 25px;
    border-radius: 20px;
    background: rgb(0,53,111);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#hero > div > div:hover {
    background: rgb(0,83,141);
    cursor: pointer;
}

#hero > div > div > img {
    width: 120px;
}

#hero > div > div > div {
    font-size: 25px;
    font-weight: bold;
    color: #DDD;
    text-transform: uppercase;
}

/* PINKS */
/* WHOLE: rgb(255, 105, 150) */
/* BOXES: rgb(236, 85, 130) */
/* HOVER: rgb(226, 75, 120) */

/* BLUES */
/* WHOLE: rgb(0,43,101) */
/* BOXES: rgb(0,53,111) */
/* HOVER: rgb(0,73,131) */
/* TITLE: #6ED6F6 */

/* GREENS */
/* WHOLE: rgb(114,234,188) */
/* BOXES: rgb(84,204,158) */
/* HOVER: rgb(104,224,178) */
/* TITLE: rgb(84,204,158) */



/* 6ED6F6 */
/* 72EABC */
/* 33BCEA */
/* EC5582 */
